/* Type your code here */


/* change the font family and spacing as per your project font */
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	top: 50px;
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
    font-style: normal;
    
}

th{
	padding-top: 1%;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 11;
    background-color: rgba(255, 0, 0, 0.828);
    height: 20px;
	
    
    color: white;
    font-weight: bold;
}



body{
    background-image: url(./assets/background-image1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    display: block;
    margin: 8px;
}


table{
    background-color: white;
    display: grid;
    margin-left: 4%;
    border: none;
    grid-column-gap: 10px;
    grid-row-gap: -10px ;
    height: 400px;
    width: 59%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
}
h1,h2{
	margin-left: 54px;
}
a{
    color: blue;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
	position: fixed;
	top: 5px;
	right: 5px;
}